.scroll-top-button {
    position: fixed;
    bottom: 10px;
    color: white;
    border: 2px solid #0B3D91;
    border-radius: 15px;
    background-color: #0B3D91;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .scroll-top-button {
        bottom: 20px;
    }
}