.search {
    position: sticky;
}

form {
    display: flex;
    flex-direction: row;
}

.search__input {
    font-family: "Source Sans Pro", "Helvetica";
    color: #808080;
    border: 3px solid #0B3D91;
    border-radius: 100px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
}

.search__button {
    background: transparent;
    border: 0;
    color: #0B3D91;
    width: 10%;
    cursor: pointer;
}

.search__icon {
    font-size: 2.5em;
}