p {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px 30px;
}

.search-results__image {
    width: 20%;
    border: 3px solid #FC3D21;
    object-fit: cover;
    border-radius: 15px;
}

